body {
    background-color: white;
    display: flex;
    min-height: 100vh;
    justify-content: center;
}
img {
  width: 200px;
  height: 200px;
  margin: 30px;
}
img:nth-child(2n) {
  box-shadow: turquoise 20px -20px;
  transform: translateY(10px);
}
img:nth-child(2n+1) {
  box-shadow: turquoise 20px 20px;
  transform: translateY(-10px);
}
/*
img:nth-child(3n) {
    box-shadow: turquoise -20px 20px;
}
img:nth-child(3n+1) {
    box-shadow: turquoise -20px 20px;
}

img:nth-child(3n+2) {
    box-shadow: turquoise 20px 20px;
}
*/
.gallery {
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
  max-width: 780px;
  min-width: 250px;
  justify-content: center;
  margin: auto;
}
